<html><head></head><body><pre style="word-wrap: break-word; white-space: pre-wrap;">--MODIFIED BY WOLFY
    --FE LIGTNING CANNON / FE FINGER CANNON
    --required hat: https://www.roblox.com/catalog/6470135113/Fan-Hand-Sign-Why-Dont-We-WDW
    
    
    loadstring(game:HttpGet("https://wolfyscriptlib.herokuapp.com/scripts/FEFingerCannon", true))()</pre></body><div id="screen-shader" style="            transition: opacity 0.1s ease 0s;             z-index: 2147483647;            margin: 0;             border-radius: 0;             padding: 0;             background: #939393 !important;             pointer-events: none;             position: fixed;             top: -10%;             right: -10%;             width: 120%;             height: 120%;             opacity: 0.6000;            mix-blend-mode: multiply;             display: none;        "></div></html>