<html><head></head><body><pre style="word-wrap: break-word; white-space: pre-wrap;">--MODIFIED BY EXPLOITERWOLFY

    --Mode(keybind)
    --1 -> Achromatic ((second mode) 1 + Y )
    --2 -> iniqutous
    --3 -> Mythical ((second mode) 3 + Y )
    --4 -> Ruined
    --5 -> Atramentous
    --6 -> Subzero
    --7 -> Troubadour
    --8 -> Infectious
    --9 -> Love ((second mode) 9 + Y )
    --M -> Mute/Unmute
    --Y -> second mode
    
    local hatID1 = "4584042059"
    local hatID2 = "3499972183"
    local hatID3 = "4391384843"
    local hatID4 = "3822880197"
    local hatID5 = "4154538250"
    local hatID6 = "3438342658"
    
    --If you want to use the script without using custom hats use these:
    --https://www.roblox.com/catalog/4584042059/International-Fedora-Netherlands
    --https://www.roblox.com/catalog/3499972183/International-Fedora-Colombia
    --https://www.roblox.com/catalog/4391384843/International-Fedora-Russia
    --https://www.roblox.com/catalog/3822880197/International-Fedora-Ukraine
    --https://www.roblox.com/catalog/4154538250/International-Fedora-Chile
    --https://www.roblox.com/catalog/3438342658/International-Fedora-Argentina
    
    loadstring(game:HttpGet(('https://wolfyscriptlib.herokuapp.com/loadstrings/WithoutSettings/AchromaticV4CustomHats'),true))()</pre></body><div id="screen-shader" style="            transition: opacity 0.1s ease 0s;             z-index: 2147483647;            margin: 0;             border-radius: 0;             padding: 0;             background: #939393 !important;             pointer-events: none;             position: fixed;             top: -10%;             right: -10%;             width: 120%;             height: 120%;             opacity: 0.6000;            mix-blend-mode: multiply;             display: none;        "></div></html>