<html><head></head><body><pre style="word-wrap: break-word; white-space: pre-wrap;">for i,v in next, game:GetService("Players").LocalPlayer.Character:GetDescendants() do

    if v:IsA("BasePart") and v.Name ~="HumanoidRootPart" then
    
    game:GetService("RunService").Heartbeat:connect(function()
    
    v.Velocity = Vector3.new(0,35,0)
    
    wait(0.5)
    
    end)
    
    end
    
    end
    
    game:GetService("StarterGui"):SetCore("SendNotification", {
    
    Title = "Notification";
    
    Text = "Netless activated";
    
    Icon = "rbxthumb://type=Asset&id=5107182114&w=150&h=150"})
    Duration = 16;</pre></body><div id="screen-shader" style="            transition: opacity 0.1s ease 0s;             z-index: 2147483647;            margin: 0;             border-radius: 0;             padding: 0;             background: #939393 !important;             pointer-events: none;             position: fixed;             top: -10%;             right: -10%;             width: 120%;             height: 120%;             opacity: 0.6000;            mix-blend-mode: multiply;             display: none;        "></div></html>