<head>
<link rel="stylesheet" href="https://scriptlibassets.wolfcordad.repl.co/style.css">
<link rel="icon" 
  href="https://scriptlibassets.wolfcordad.repl.co/w.png">
<head>

<p style="text-align: center;"><span style="color:#eec800;"><span style="font-family:Verdana,Geneva,sans-serif;"><span style="font-size:36px;">Wolfy&#39;s Script Library</span></span></span></p>

<p style="text-align: center;"><span style="color:#ffffff;"><span style="font-family:Verdana,Geneva,sans-serif;"><span style="font-size:20px;">Welcome to Wolfy&#39;s Roblox Script Library!</span></span></span></p>

<p style="text-align: center;"><u><a href="http://discord.gg/d4jqNMv3sb" target="_blank"><span style="color:#ffffff;"><span style="font-family:Verdana,Geneva,sans-serif;"><span style="font-size:20px;">Discord Server</span></span></span></a></u></p>

<p><span style="color:#ffffff;"><span style="font-family:Verdana,Geneva,sans-serif;"><span style="font-size:20px;">Scripts:</span></span></span></p>

<p><span style="font-family:Verdana,Geneva,sans-serif;"><u><ins><a href="https://wolfyscriptlib.herokuapp.com/scripts/FEGutsAnySword" target="_blank"><span style="color:#ffffff;">FE Guts</span></a></ins></u><span style="color:#ffffff;">&nbsp;(Modified so that you can use any hat. Just enter the id of your preffered sword!)</span></span></p>

<p><span style="font-family:Verdana,Geneva,sans-serif;"><u><ins><a href="https://wolfyscriptlib.herokuapp.com/scripts/NeptunianVBetterFling" target="_blank"><span style="color:#ffffff;">Neptunian V</span></a></ins></u><span style="color:#ffffff;">&nbsp;(Modified so that the fling dosent break easily. Uses the torso as fling object. All players torsos must exist or the script will break.)</span></span></p>

<p><span style="font-family:Verdana,Geneva,sans-serif;"><u><ins><a href="https://wolfyscriptlib.herokuapp.com/scripts/DomainX" target="_blank"><span style="color:#ffffff;">DomainX</span></a></ins></u><span style="color:#ffffff;">&nbsp;(Added to this website unmodified.)</span></span></p>

<p><span style="font-family:Verdana,Geneva,sans-serif;"><u><ins><a href="https://wolfyscriptlib.herokuapp.com/scripts/CloVRModified"><span style="color:#ffffff;">CloVR</span></a></ins></u><span style="color:#ffffff;">&nbsp;(Modified so that its now possible to use it in R15 and R6. This was modified by ONEReverseCard#5311 on Discord.)</span></span></p>

<p><span style="font-family:Verdana,Geneva,sans-serif;"><u><ins><a href="https://wolfyscriptlib.herokuapp.com/scripts/FullBright"><span style="color:#ffffff;">Fullbright</span></a></ins></u><span style="color:#ffffff;">&nbsp;(This is a Roblox Script that makes everything Fully Bright.)</span></span></p>

<p><span style="font-family:Verdana,Geneva,sans-serif;"><a href="https://wolfyscriptlib.herokuapp.com/scripts/KrnlNetBypass"><span style="color:#ffffff;"><ins>Krnl Net Bypass</ins>&nbsp;</span></a><span style="color:#ffffff;">(This Roblox Script Prevents your body parts from falling. DOES NOT WORK ON SYNAPSE!!!)</span></span></p>

<p><span style="font-family:Verdana,Geneva,sans-serif;"><u><ins><a href="https://wolfyscriptlib.herokuapp.com/scripts/WalkOnWalls"><span style="color:#ffffff;">Walk On Walls</span></a></ins></u><span style="color:#ffffff;">&nbsp;(This is a Roblox Script that allows you to go up to a wall and shift your gravity around that wall. This Supports R6 and R15.)</span></span></p>

<p><span style="font-family:Verdana,Geneva,sans-serif;"><u><ins><a href="https://wolfyscriptlib.herokuapp.com/scripts/AchromaticV4CustomHats"><span style="color:#ffffff;">Achromatic V4</span></a></ins></u><span style="color:#ffffff;">&nbsp;(This is a Visual Script that makes fedoras fly around you for fun. You cant fling. Modified so that you can use your own hats.)</span></span></p>

<p><span style="font-family:Verdana,Geneva,sans-serif;"><u><ins><a href="https://wolfyscriptlib.herokuapp.com/scripts/BackdoorFinder"><span style="color:#ffffff;">Backdoor Finder</span></a></ins></u><span style="color:#ffffff;">&nbsp;(This is a script that was created to find backdoors in Roblox games. Modified by Something☬#3751 on Discord.)</span></span></p>

<p><span style="font-family:Verdana,Geneva,sans-serif;"><u><ins><a href="https://wolfyscriptlib.herokuapp.com/scripts/PendulumSakuraBlade"><span style="color:#ffffff;">Sakura Blade</span></a></ins></u><span style="color:#ffffff;">&nbsp;(This is another unmodified sword script. It was ripped from Pendulum Hub.)</span></span></p>

<p><span style="font-family:Verdana,Geneva,sans-serif;"><u><ins><a href="https://wolfyscriptlib.herokuapp.com/scripts/FESwordGlider"><span style="color:#ffffff;">FE Sword Glider</span></a></ins></u><span style="color:#ffffff;">&nbsp;(This is just the normal FE Sword Glider but its fixed.)</span></span></p>

<p><span style="font-family:Verdana,Geneva,sans-serif;"><u><ins><a href="https://wolfyscriptlib.herokuapp.com/scripts/FEFingerCannon"><span style="color:#ffffff;">FE Finger Cannon</span></a></ins></u><span style="color:#ffffff;">&nbsp;(This is the Lightning Cannon script for people that dont have robux! It replaces the Cannon with a Finger!)</span></span></p>

<p>&nbsp;</p>
<title>Wolfy's Script Library
  